li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aquamarine;

}

ul li {
    font-size: 25px;

}

ol li {
color: steelblue;
background-color: violet;
width: 80%;
text-align: justify;
}

.green_text {
    color: green;
    background-color: ivory;
}
.white_text {
    color: white;
    background-color: green;
}
.red_text {
    color: red;
    background-color: ivory;
}

#maintitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    color: seagreen;
    
}